/gandolfo-ia-main/.gitignore
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment Variables and Sensitive Data
.env
.env.local
.env.development
.env.test
.env.production

# Server credentials
*.pem
*.key
*-key.json

# Other sensitive files
credentials.json
config.private.js